
<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Index</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .btn[disabled]{
            cursor: not-allowed;
            pointer-events: auto;
        }
    </style>
</head>
<body>
 

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

    <ul class="nav nav-tabs">
        <li>
            <span class="navbar-brand mb-0 h1">Registration System</span>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="#">My Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/changepwd">Change Password</a>
        </li> 
      </ul>
      <ul  class="nav nav-tabs ">
        <li><a>Welcome,<%= name %>(<%= sid %>, Year <%= grade %> student) </a></li>
        <li><a href="/logout"> Logout</a></li>
      </ul>     
  </nav>
  <h1>Courses</h1>
  <hr>
  <table id="table" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>DayOfWeek</th>    
              <th>Available Seats</th>  
              <th>Allow Years</th> 
              <th>Teacher</th> 
              <th>Introduction</th> 
              <th></th>
          </tr>
      </thead>
      <tbody>

      </tbody>
  </table>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/js/jszip.min.js"></script>
    <script type="text/javascript">
      
       $(document).ready(function() {
            var day_arr=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"];

            $('#table').DataTable({ 
                columns: [
                { data: 'cid' },
                { data: 'name' },
                // { data: 'dayofweek' },
                { data: null,"render":function(data,type,row,meta){ 
                    var s = data.dayofweek;
                    return day_arr[s];
                }},
                { data: 'number' },
                { data: 'allow' },
                { data: 'teacher' },
                { data: 'briefintro' },
                { data: null,"render":function(data,type,row,meta){
                  var html="<input type='button' class='btn btn-secondary' disabled data-cid="+data.cid+" id='btn_"+data.cid+"'>";
                  return html;
                }}
              ],
            ajax: {
                "url":'/course',
                "dataSrc": "results",
                }
            });

            $.ajax({
                "url":'/checkStatus',
                "type":'get',      
                success:function(d){
                   for(var key in d){
                       $('#btn_'+key).val(d[key]);
                       if(d[key]=="Register"){
                        $('#btn_'+key).addClass("btn-success");
                        $('#btn_'+key).removeAttr("disabled");
                       }else if(d[key]=="Already Registed"){
                        $('#btn_'+key).after("<p><a href='javascript:void(0);' class='unregisterlink' data-role='unregister' data-cid="+key+">Unregister</a></p>")
                       }
                   } 
                }
            });

            $('#table').delegate(".btn","click",function(){
                //alert($(this).attr("data-cid"));
                $.post("/register",{
                    "cid":$(this).attr("data-cid")
                },function(data){
                    if(data.result==1){
                        alert("registered successful!");
                        window.location.reload();
                    }
                })
            });

            $('#table').delegate(".unregisterlink","click",function(){
                 //alert($(this).attr("data-cid"));
                 $.post("/unregister",{
                     "cid":$(this).attr("data-cid")
                 },function(data){
                     if(data.result==1){
                         alert("unregistered successful!");
                         window.location.reload();
                     }
                 })
             });

        });
    </script>
</body>
</html>
