<form id="fileform" action="#" enctype="multipart/form-data" method="POST">
  <div class="row col-md-12">
    <div class="form-group col-md-1">
      <label for="uname">ID</label>
    </div>
    <div class="form-group col-md-5">
        <p><input type="text" class="form-control" name="sid"  placeholder="Enter student ID"></p>
        <div class="alert alert-danger" role="alert" id="alertId" style="display: none">
            ID exists...
        </div>
    </div> 
  </div>
   
   
  <div class="row col-md-12">
    <div class="form-group col-md-1">
      <label for="uname">Name</label>
    </div>
    <div class="form-group col-md-5">
      <input type="text" class="form-control" name="name"  placeholder="Enter name">
    </div>   
  </div>

  <div class="row col-md-12">
    <div class="form-group col-md-1">
      <label for="uname">Grade</label>
    </div>
    <div class="form-group col-md-5">
      <input type="number" class="form-control" name="age"  placeholder="Enter age">
    </div>   
  </div>

  <div class="row col-md-12">
    <div class="form-group col-md-1">
      
    </div>
    <div class="form-group col-md-5">
      <button type="submit" class="btn btn-primary" id="btn">Submit</button>
    </div>
  </div>
</form>